      <!-- ***************************** -->
      <!-- Rating Overview by Teammember -->
      <!-- ***************************** -->
      <div>    
        
        <!-- Rating Header -->
        <div class="row">
          <div class="col-sm-2">&nbsp;</div>
          <div class="col-sm-2" ng-repeat="rating in ratingReferenceItems"><h3><small>{{::rating.label}}<br />( {{::rating.symbol}} )</small></h3></div>
        </div>
        
        <!-- Iteration over teammember itemsIteration over criteria items -->
        <div ng-repeat="teammember in teammemberItems track by teammember.id ">
          <hr class="fatLine"/>
          <div class="row linkRow">
            <div class="col-sm-2"><b>{{teammember.name}} <a href="#" tooltip="{{teammember.role.title}}">({{teammember.role.symbol}})</a></b></div>
            <div class="col-sm-10"></div>
          </div>
                  
          <!-- Iteration over criteria items -->
          <div class="animate-repeat" ng-repeat="crit in criteriaItems | filter: { id: filterId } track by crit.id"> 
            <hr />
            <!-- Iteration over criteria ratingItems -->
            <div class="row name linkRow"> 
              <a ng-click="toggleFilter(crit.id)" >
                <div class="col-sm-2 linkRow">{{::crit.topic}}</div>
                <div class="col-sm-2" ng-repeat="rating in crit.ratingItems">{{::rating.description}}</div>
              </a>
            </div><!-- end criteria rating items-->
            <div class="row">&nbsp;</div>
            <!-- Iteration over rated by teammembers -->
            <div class="row highlight {{ratedBy.ref}}" ng-repeat="ratedBy in teammember.TeammemberRatingItems track by ratedBy.id" >
              <div class="col-sm-2">&nbsp;</div>
              <!-- Iteration over rated criteria items -->
              <div class="col-sm-2 text-center" ng-repeat="criteriaRating in crit.ratingItems track by criteriaRating.value">
                <div ng-repeat="ratedCriteria in ratedBy.criteriaItems | filter: { criteriaId: crit.id, rating: criteriaRating.value } :true ">
                  <a href="#" tooltip-html-unsafe="{{ratedCriteria.tooltip}}" tooltip-placement="right"><div class="circle ref{{criteriaRating.ref}} linkRow" >{{criteriaRating.symbol}}</div></a>
                </div>
              </div><!-- end rated crieria items -->
            </div><!-- end rated by teammembers -->

          </div><!-- end criteria items-->
          
        </div><!-- end teammmeberitems -->     
           
      </div>
        