


      <!-- *************************** -->
      <!-- Rating Overview by Criteria -->
      <!-- *************************** -->
      
      <div>
      
        <!-- Rating Header -->
        <div class="row">
          <div class="col-sm-2">&nbsp;</div>
          <div class="col-sm-2" ng-repeat="rating in ratingReferenceItems"><h3><small>{{::rating.label}}<br />( {{::rating.symbol}} )</small></h3></div>
        </div>
        
        <!-- Iteration over criteria items -->
        <div ng-repeat="crit in criteriaItems track by crit.id"> 
          <hr class="fatLine"/>
                  
          <!-- Iteration over criteria ratingItems -->
          <div class="row">
            <div class="col-sm-2"><b>{{::crit.topic}}</b></div>
            <div class="col-sm-2" ng-repeat="rating in crit.ratingItems"><b>{{::rating.description}}</b></div>
          </div>
          
          <!-- Iteration over rated teammembers -->
          <div class="row highlight {{ratedMember.ref}} linkRow" ng-repeat="ratedMember in teammemberRatingItems track by ratedMember.id" >
			<a ui-sref="ratingForm" ng-click="updateTeammember(ratedMember)" >
              <div class="col-sm-2" ng-switch on="ratedMember.ref">
                <div ng-switch-when="self">Eigenbewertung</div>
                <div ng-switch-default>{{ratedMember.name}}</div>
              </div>            
              <!-- Iteration over rated criteria items -->
              <div class="col-sm-2 text-center" ng-repeat="criteriaRating in crit.ratingItems track by criteriaRating.value">
                <div ng-repeat="ratedCriteria in ratedMember.criteriaItems | filter: { criteriaId: crit.id, rating: criteriaRating.value } :true ">
                  <a href="#" tooltip-html-unsafe="{{ratedCriteria.comment}}" tooltip-placement="right"><div class="circle ref{{criteriaRating.ref}} linkRow" >{{criteriaRating.symbol}}</div></a>
                </div>
              </div><!-- end rated crieria items -->
            </a>
          </div><!-- end rated teammembers -->

        </div><!-- end criteria items -->     
           
      </div>
