      <!-- ***************************** -->
      <!-- Rating Overview by Teammember -->
      <!-- ***************************** -->
      
      <div>
      
        <!-- Rating Header -->
        <div class="row">
          <div class="col-sm-2">&nbsp;</div>
          <div class="col-sm-2" ng-repeat="rating in ratingReferenceItems"><h3><small>{{::rating.label}}<br />( {{::rating.symbol}} )</small></h3></div>
        </div>
        

        
        <!-- Iteration over teammember -->
        <div class="linkRow" ng-repeat="ratedMember in ratedTeamMemberItems">
            <hr class="fatLine" />          
            
            <div class="row">
              <div class="col-sm-12 {{ratedMember.ref}} highlight linkRow">
                <a ui-sref="ratingForm" ng-click="updateTeamMebmber(ratedMember)" >
                   <div ng-switch on="ratedMember.ref">
                    <div ng-switch-when="self"><p><b>Eigenbewertung</b></p></div>
                    <div ng-switch-default><p><b>{{ratedMember.name}}</b></p></div>
                  </div>
                </a>
              </div>
            </div>
             
            <!-- Iteration over criteriaItems items -->
            <div class="row" ng-repeat="crit in criteriaItems track by crit.id">
              <div class="col-sm-2">{{::crit.topic}}</div>
               
              <!-- Iteration over rated criteriaItems items -->
              <div class="col-sm-2 text-center" ng-repeat="criteriaRating in crit.ratingItems track by criteriaRating.value">                
                <!-- <div ng-if="rate.rating === criteriaRating.value">  -->
                <div ng-repeat="ratedCriteria in ratedMember.criteriaItems | filter: { id: crit.id, rating: criteriaRating.value } :true ">   
                  <a href="#" tooltip="{{ratedCriteria.comment}}" tooltip-placement="right"><div class="circle ref{{criteriaRating.ref}} linkRow" >{{criteriaRating.symbol}}</div></a>
                </div>
              </div><!-- end rated crieria items -->
               
            </div><!-- end criteriaItems items -->
   
        </div><!-- end teammebers -->
        
      </div>
